.DisplayPageFrame{
    width: auto;
    height: 100%; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}

.DataHeader{
    width: 100%; 
    height: 100%; 
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px; 
    padding-right: 60px; 
    align-items: flex-start; 
    gap: 32px; 
    display: inline-flex;
}


#ShipName{
    width: 320px; 
    padding-top: 0.4rem; 
    justify-content: center; 
    align-items: center; 
    display: flex;
}

#ShipNameText{
    flex: 1 1 0; 
    height: 42px; 
    color: #EDE781; 
    font-size: 24px;
    font-family: Orbitron;
    font-weight: 700;
    word-wrap: break-word;
}


#DepartureStatus{
    height: 40px; 
    padding-top: 0.4rem;
    padding-bottom: 0px;
    padding-left: 40px; 
    padding-right: 40px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline;
}

#DepartureStatusText{
    width: 100%; 
    height: 100%; 
    text-align: center; 
    color: #EDE781; 
    font-size: 16px; 
    font-family: Roboto; 
    font-weight: 500; 
    word-wrap: break-word;
    vertical-align: middle;
    align-items: center;
}


.ShipData{
    width: auto; 
    height: auto; 
    justify-content:space-between ; 
    align-items: flex-start; 
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 30px;
    padding: 4px;
}

.ShipStatusFrame{
    width: auto; 
    flex-direction: column; 
    justify-content: center; 
    align-items:center ; 
    display: inline-flex;
    padding-bottom: 40px;
}

.ShipFinanceFrame{
    width: auto; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex;
    padding-bottom: 40px;
}

.ShipPropertiesFrame{
    width: auto; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex;
    padding-bottom: 40px;
}

.PassengerStatusFrame{
    width: auto; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex;
    padding-bottom: 40px;
}

.PassengerStatusFrameTitle{
    width: 100%; 
    height: 100%; 
    padding-bottom: 0.3rem;
    padding-right: 10rem;
    text-align: center; 
    color: #EDE781; 
    font-size: 16px; 
    font-family: Orbitron; 
    font-weight: 700; 
    word-wrap: break-word;
}


@media (max-width: 400px){
    html {
        font-size: 16px; /* Reduces the base font size */
    }
    .ShipData{
        flex: auto;
        flex-direction: column;
        align-items: start;
        width: 360px;
        justify-content: left;
        padding-bottom: 10px;

 }
    .ShipStatusFrame{
        padding-bottom: 0px;
        width: auto;
    }

    
}