.InputBox{
    width: 100%; 
    height: 100%; 
    justify-content: flex-start; 
    align-items: center; 
    display: inline-flex;

/*    align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex;*/
 } 

 .InputBoxLabel{
    height: 40px;
    width: 100%; 
    padding-top: 0px;
    padding-left: 10px; 
    padding-right: 10px; 
    justify-content: flex-end; 
    align-items: center; 
    vertical-align: middle;
    gap: 10px; 
    display: flex
 }


 .InputBoxLabelText{
    text-align: right;
    color: #EDE781;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    word-wrap: break-word;
    /*
    flex: 1 1 0; 
    height: 40px; 
    text-align: right; 
    color: #EDE781; 
    font-size: 16px; 
    font-family: Roboto; 
    font-weight: 500; 
    word-wrap: break-word;
    */
 }

 .InputBoxTextBox{
    width: 100%; 
    height: 36px; 
    padding: 4px; 
    background: #FFFEEB; 
    border-radius: 5px; 
    border: 1px #EDE781 solid; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 4px; 
    display: flex;
 }
 
 
 .InputBoxTextBoxField{
    height: 19px; justify-content: center; align-items: center; gap: 10px; display: flex;
 }
 
 
 .InputBoxTextBoxText{
    flex: 1 1 0; height: 19px; color: #7C4C00; font-size: 16px; font-family: Roboto; font-weight: 500; word-wrap: break-word;
 }
 